@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8f8;
  --foreground: #8f8f8f;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto, sans-serif;
}
